<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/bootstrap.min.css">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/bootstrap.css">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/estylos.css">
	<title>Configuración Tienda</title>
</head>
<body>
<div class="container">
	<header>
		<div class="row">
		<a href="C:\Users\Equipo\Documents\practicas\WARRoom\View\index.html">
			<img src="C:\Users\Equipo\Documents\practicas\WARRoom\images\BBVALogo.png" class="thumbnail col-xs-12 col-sm-3" alt="BBVA Bancomer">
		</a>
			<a href="C:\Users\Equipo\Documents\practicas\WARRoom\View\Controller.html" class="btn btn-primary col-xs-3 col-sm-2 col-sm-offset-1" id="btn-nav">Controller</a>
			<a href="C:\Users\Equipo\Documents\practicas\WARRoom\View\Participantes.html" class="btn btn-primary col-xs-4 col-sm-2" id="btn-nav">Participantes</a>
			<a href="C:\Users\Equipo\Documents\practicas\WARRoom\View\IncidentManager.html" class="btn btn-primary col-xs-5 col-sm-2" id="btn-nav">Incident Manager</a>
		</div>
	</header>	
<section>
		<article class="col-xs-12 col-sm-12">
			<div class="page-header">
			<h1 id="titulo">Bienvenido a el Gestor de Mesa Crisis</h1>
			</div>
		</article>
	</section>
</div>
	<!-- JQuery-->
	<script src="C:/Users/Equipo/Documents/practicas/WARRoom/js/jquery.js"></script>
	<script src="C:/Users/Equipo/Documents/practicas/WARRoom/js/bootstrap.min.js"></script>
</body>
</html>