<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/bootstrap.min.css">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/bootstrap.css">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/estylos.css">
	<title>Configuración Tienda</title>
</head>
<body>
<div class="container">
	<header>
		<div class="row">
		<img src="C:\Users\Equipo\Documents\practicas\WARRoom\images\BBVALogo.png" class="thumbnail col-xs-12 col-sm-3" alt="BBVA Bancomer">
			.form-group
			<a href="#" class="btn btn-primary col-xs-3 col-sm-2 col-sm-offset-1" id="btn-nav">Controller</a>
			<a href="#" class="btn btn-primary col-xs-4 col-sm-2" id="btn-nav">Participantes</a>
			<a href="#" class="btn btn-primary col-xs-5 col-sm-2" id="btn-nav">Incident Manager</a>
		</div>
	</header>	
	<section>
		<aside class="col-xs-6 col-sm-2">
			<a href="#" class="col-xs-12 col-sm-12 btn btn-default" id="btn-menu"> <span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span> </a>
			<a href="#" class="col-xs-12 col-sm-12 btn btn-default" id="btn-menu">Datos Generales</a>
			<a href="#" class="col-xs-12 col-sm-12 btn btn-default" id="btn-menu">Configuración</a>
			<a href="#" class="col-xs-12 col-sm-12 btn btn-default" id="btn-menu">Texto Cabecera <br>/Pie</a>
			<a href="#" class="col-xs-12 col-sm-12 btn btn-default" id="btn-menu">Intervalo vales</a>
		</aside>
		<article class="col-xs-6 col-sm-10">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea sed minus, vero odio eum quos provident nesciunt eius sequi voluptates dignissimos, harum, magnam, amet aliquam minima. Omnis atque cumque reprehenderit.
		</article>
	</section>
</div>
	<!-- JQuery-->
	<script src="C:/Users/Equipo/Documents/practicas/WARRoom/js/jquery.js"></script>
	<script src="C:/Users/Equipo/Documents/practicas/WARRoom/js/bootstrap.min.js"></script>
</body>
</html>