<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="/WARRoom/css/bootstrap.min.css">
	<link rel="stylesheet" href="/WARRoom/css/bootstrap.css">
	<link rel="stylesheet" href="/WARRoom/css/estylos.css">
	<title>Configuración Tienda</title>
</head>
<body>
<div class="container">
	<header>
		<div class="row">
		<div class="btn-group btn-group-justified">
			<div class="form-group">
				<a href="\WARRoom\View\inicio.html">
					<img src="\WARRoom\images\BBVALogo.png" class="thumbnail col-xs-12 col-sm-3" alt="BBVA Bancomer">
				</a>
					<div class="dropdown col-xs-12 col-sm-2" id="btn-nav">
					  <button class="btn btn-primary dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Registro & Admon
					  <span class="caret"></span></button>
					  <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
					  	<li class="dropdown-header">Elige una mesa</li>
					    <li role="presentation"><a role="menuitem" href="\WARRoom\View\mesa1.html">Mesa 1</a></li>
					    <li role="presentation"><a role="menuitem" href="\WARRoom\View\mesa2.html">Mesa 2</a></li>
					    <li role="presentation"><a role="menuitem" href="\WARRoom\View\mesa3.html">Mesa 3</a></li>
					    <li role="presentation" class="divider"></li>
					    <li class="dropdown-header">Opciones Adicionales</li>
					    <li role="presentation"><a role="menuitem" href="#">Agregar Nueva Mesa</a></li>
					  </ul>
					</div>
					<!--<a href="\WARRoom\View\Controller.html" class="btn btn-primary col-xs-3 col-sm-2 col-sm-offset-1" id="btn-nav">Registros & Admon</a>-->
					<a href="\WARRoom\View\Participantes.html" class="btn btn-primary col-xs-12 col-sm-2" id="btn-nav-participante">Participantes</a>
					<a href="\WARRoom\View\IncidentManager.html" class="btn btn-primary col-xs-12 col-sm-2" id="btn-nav-manager">Incident Manager</a>
			</div>
		</div>
		</div>
	</header>	
<section>
		<article class="col-xs-12 col-sm-12">
			<div class="page-header">
			<h1 id="titulo">Bienvenido a el Gestor de Mesa Crisis</h1>
			</div>
		</article>
	</section>
</div>
	<!-- JQuery-->
	<script src="/WARRoom/js/jquery.js"></script>
	<script src="/WARRoom/js/bootstrap.min.js"></script>
</body>
</html>