<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- CSS -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/bootstrap.min.css">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/bootstrap.css">
	<link rel="stylesheet" href="C:/Users/Equipo/Documents/practicas/WARRoom/css/estylos.css">
	<!-- FIN CSS -->
	<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>Login Mesa Crisis</h1>
		</div>
		<div class="row">
			<form action="" class="col-xs-4">
				<!-- usuario -->
				<div class="form-group">
					<label for="#Nombre" class="sr-only">Nombre</label>
					<input class="form-control" type="text" id="Nombre" placeholder="Nombre">
				</div>
				<!-- Password -->
				<div class="form-group">
					<label for="#Nombre" class="sr-only">Password</label>
					<input class="form-control" type="password" id="Nombre" placeholder="*********">
				</div>
				<!-- Mesa -->
				<div class="form-group col-xs-2 col-md-8" id="heade-menu">
					<p>Selecciona la mesa de Crisis</p>
					<div class="input-group">
							<button class="btn btn-default  dropdown-toggle" data-toggle="dropdown">
								<span class="glyphicon glyphicon-triangle-bottom"></span>
							</button> 
							<ul class="dropdown-menu">
								<li><a href="#">Mesa #1</a></li>
								<li><a href="#">Mesa #2</a></li>
								<li><a href="#">Mesa #3</a></li>
							</ul>
						</div>
				</div>
				<!-- Fin Mesa -->
			</form>
		</div>
	</div>


	<!-- JQuery-->
	<script src="C:/Users/Equipo/Documents/practicas/WARRoom/js/jquery.js"></script>
	<script src="C:/Users/Equipo/Documents/practicas/WARRoom/js/bootstrap.min.js"></script>
	<!-- FIN JQuery-->
</body>
</html>